:root {
    --input-border: #8B8A8B;
    --form-bg: #E9F2FD;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    height: calc(100dvh - 148px);
    overflow-y: auto;

    .trip {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 20px;

        &>img {
            width: 400px;
            object-fit: cover;
            height: 200px;
        }

        .icon {
            height: 20px;
        }

        h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

header {
    margin: 50px;
    font-size: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .trip {
            flex-direction: column;
            max-width: 420px;

            &>img {
                width: 100%
            }
        }
    }
}

#addTrip {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    max-height: 200px;
    justify-content: center;
    flex-direction: column;

    form:not(.hidden)+#showForm {
        display: none;
    }

    form {
        position: absolute;
        width: 600px;
        left: calc(50vw - 300px);
        top: 50px;
        background: var(--form-bg);
        padding: 20px;

        input {
            font-size: 16px;
            padding: 0.25em 0.5em;
            background-color: #fff;
            border: 2px solid var(--input-border);
            border-radius: 4px;
            transition: 180ms box-shadow ease-in-out;

            &:focus {
                border-color: royalblue;
                box-shadow: 0 0 0 3px royalblue;
                outline: 3px solid transparent;
            }

            &+label {
                margin-top: 2rem
            }
        }

        label {
            font-size: 1.125rem;
            font-weight: 500;
            display: block
        }



        #submitButton {
            background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);

            &:hover {
                box-shadow: rgba(21, 204, 189, 0.5) 0 1px 30px;
            }
        }



    }

    #showForm {
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);

        &:hover {
            box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        }
    }
}

button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    padding: 0 0.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
        transition-duration: .1s;
    }
}

.cancel {
    background-image: linear-gradient(92.88deg, #cc361c 9.16%, #c9430e 43.89%, #b12e0e 64.72%);

    &:hover {
        box-shadow: rgba(192, 18, 6, 0.5) 0 1px 30px;
    }
}

.row {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.hidden {
    display: none;
}